/* 由于全屏会出bug，所以直接给他隐藏 */
@font-face {
    font-family: BTZ;
    src: url(https://source.zifyu.top/myfont/%E5%AD%97%E9%AD%82%E6%89%81%E6%A1%83%E4%BD%93.ttf);
    font-display: swap;
}
@font-face {
    font-family: AliDL;
    src: url(https://source.zifyu.top/myfont/AlimamaDaoLiTi.ttf);
    font-display: swap;
}
@font-face {
    font-family: 鸿雷拙书简体;
    src: url(https://source.zifyu.top/myfont/%E9%B8%BF%E9%9B%B7%E6%8B%99%E4%B9%A6%E7%AE%80%E4%BD%93.ttf);
    font-display: swap;
}
@font-face {
    font-family: 汉字之美神勇兔生肖;
    src: url(https://source.zifyu.top/myfont/%E6%B1%89%E5%AD%97%E4%B9%8B%E7%BE%8E%E7%A5%9E%E5%8B%87%E5%85%94%E7%94%9F%E8%82%96.ttf);
    font-display: swap;
}
@font-face {
    font-family: 钟齐志莽行书;
    src: url(https://source.zifyu.top/myfont/%E9%92%9F%E9%BD%90%E5%BF%97%E8%8E%BD%E8%A1%8C%E4%B9%A6.ttf);
    font-display: swap;
}
@font-face {
    font-family: 今年也要加油鸭;
    src: url(https://source.zifyu.top/myfont/%E4%BB%8A%E5%B9%B4%E4%B9%9F%E8%A6%81%E5%8A%A0%E6%B2%B9%E9%B8%AD.ttf);
    font-display: swap;
}
@font-face {
    font-family: 小可奶酪体;
    src: url(https://source.zifyu.top/myfont/%E5%B0%8F%E5%8F%AF%E5%A5%B6%E9%85%AA%E4%BD%93%E5%95%86%E7%94%A8%E5%85%8D%E8%B4%B9%40%E5%BA%86%E7%A7%91%E5%AD%97%E4%BD%93.ttf);
    font-display: swap;
}
.winbox {
    border-radius: 12px;
    overflow: hidden;
}
#changeBgBox > div.wb-header > div.wb-drag > div.wb-title{
    color: var(--font-color);
    font-weight: bold;
}

#article-container > div:nth-child(4)>a:hover,
#article-container > div:nth-child(8)>a:hover,
#article-container > div:nth-child(6) > a:hover{
    transform: scale(1.2) !important;
    border-radius: 0.7em !important;
}

#article-container > div.note.orange.icon-padding.disabled > p
{
    font-weight: bold;
}

#article-container > div.swfs > span > button{
    margin: 15px;
    padding: 25px 0 !important;
}
#article-container > div.swfs > span >button:hover{
    transform: scale(1.1) !important;
}

.wb-drag{
    background: rgb(146, 209, 209);
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox{
    width: 120px;
    margin: 10px;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden
}

.imgbox,
.box {
    width: 208px;
    height: 130px;
    margin: 10px;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}


@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 2.0新增内容 */    
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}