/* 由于全屏会出bug，所以直接给他隐藏 */
@font-face {
    font-family: BTZ;
    src: url(/myfont/字魂扁桃体.ttf);
    font-display: swap;
}
@font-face {
    font-family: AliDL;
    src: url(/myfont/AlimamaDaoLiTi.ttf);
    font-display: swap;
}
@font-face {
    font-family: 鸿雷拙书简体;
    src: url(/myfont/鸿雷拙书简体.otf);
    font-display: swap;
}
@font-face {
    font-family: 汉字之美神勇兔生肖;
    src: url(/myfont/汉字之美神勇兔生肖.ttf);
    font-display: swap;
}
@font-face {
    font-family: 钟齐志莽行书;
    src: url(/myfont/钟齐志莽行书.ttf);
    font-display: swap;
}
@font-face {
    font-family: 今年也要加油鸭;
    src: url(/myfont/今年也要加油鸭.ttf);
    font-display: swap;
}
@font-face {
    font-family: 小可奶酪体;
    src: url(/myfont/小可奶酪体商用免费@庆科字体.ttf);
    font-display: swap;
}
.winbox {
    border-radius: 12px;
    overflow: hidden;
}
#changeBgBox > div.wb-header > div.wb-drag > div.wb-title{
    color: var(--font-color);
    font-weight: bold;
}

#article-container > div:nth-child(4)>a:hover,
#article-container > div:nth-child(8)>a:hover,
#article-container > div:nth-child(6) > a:hover{
    transform: scale(1.2) !important;
    border-radius: 0.7em !important;
}

#article-container > div.note.orange.icon-padding.disabled > p
{
    font-weight: bold;
}

#article-container > div.swfs > span > button{
    margin: 15px;
    padding: 25px 0 !important;
}
#article-container > div.swfs > span >button:hover{
    transform: scale(1.1) !important;
}

.wb-drag{
    background: rgb(146, 209, 209);
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox{
    width: 120px;
    margin: 10px;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden
}

.imgbox,
.box {
    width: 208px;
    height: 130px;
    margin: 10px;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}


@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 2.0新增内容 */    
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}