#welcome-info {
  overflow: hidden;
  border-radius: 14px;
  font-weight:bold;
  --kouseki-welcome-color: #49B1F5;
  --kouseki-gl-size: 16px!important;
}
#welcome-info > b > center{
  font-size: larger;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}
